<div class="product">
    <div class="img">
        <a (click)="filter('')"><img src="https://rukminim2.flixcart.com/image/416/416/l547yq80/makeup-kit/a/7/w/-original-imagfvymgpuchhfa.jpeg?q=70"></a>
        <p>All products</p>
    </div>
    <div class="img">
        <a (click)="filter('electronics')"><img src="https://fakestoreapi.com/img/61IBBVJvSDL._AC_SY879_.jpg"></a>
        <p>Electronics</p>
    </div>
    <div class="img">
        <a (click)="filter('fashion')"><img src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg"></a>
        <p>Fashion</p>
    </div>
    
    <div class="img">
        <a (click)="filter('jewelery')"><img src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg"></a>
        <p>Jewelerry</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card">
                <img class="items" src="{{item.image}}" alt="">
                <h5 class="items">{{item.title}}</h5>
                <p class="items">{{item.description}}</p>
                <p class="items"><strong>price</strong>${{item.price}}</p>
                <p class="items">{{item.category}}</p>
                <button (click)="addToCart(item)" class="btn items">Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>